<div class="page">
  <div class="page-head">
    <div>
      <h2>Partners Management</h2>
    </div>
    <button class="btn dark" (click)="exportPdf()" [disabled]="loading">
      📄 Export PDF
    </button>
  </div>

  <p class="msg" *ngIf="message">{{ message }}</p>
  <p class="loading" *ngIf="loading">Loading...</p>

  <div class="cards-container" *ngIf="partners.length > 0">
    <div class="partner-card" *ngFor="let p of partners; trackBy: trackById">
      <div class="card-header">
        <div class="title">
          <h3>{{ p.companyName }}</h3>
          <span class="small">Employer ID: {{ p.employerId }}</span>
        </div>

        <span
          class="status"
          [ngClass]="{
            approved: p.status === 'APPROVED',
            pending: p.status === 'PENDING',
            suspended: p.status === 'SUSPENDED'
          }"
        >
          {{ p.status }}
        </span>
      </div>

      <div class="card-body">
        <div class="row">
          <span class="label">Industry</span>
          <span class="value">{{ p.industry }}</span>
        </div>

        <div class="row">
          <span class="label">Email</span>
          <span class="value break">{{ p.companyEmail }}</span>
        </div>

        <div class="row">
          <span class="label">Phone</span>
          <span class="value">{{ p.phone }}</span>
        </div>

        <div class="row">
          <span class="label">Address</span>
          <span class="value">{{ p.address }}</span>
        </div>

        <div class="row">
          <span class="label">Website</span>
          <span class="value break">{{ p.website }}</span>
        </div>

        <div class="row desc-row">
          <span class="label">Description</span>
          <span class="value desc">{{ p.description }}</span>
        </div>
      </div>

      <div class="card-actions">
        <button
          class="btn success"
          (click)="changeStatus(p.id!, 'APPROVED')"
          [disabled]="p.status === 'APPROVED'"
        >
          Approve
        </button>

        <button
          class="btn danger"
          (click)="changeStatus(p.id!, 'SUSPENDED')"
          [disabled]="p.status === 'SUSPENDED'"
        >
          Suspend
        </button>

        <button class="details-btn" [routerLink]="['/admin/partners', p.id]">
          Details
        </button>

        <button class="btn ghost" (click)="deletePartner(p.id)">
          Delete
        </button>
      </div>
    </div>
  </div>

  <p class="empty" *ngIf="partners.length === 0 && !loading">
    No partners available.
  </p>
</div>
